@import url("./nova.otf");

body {
  font-family: "nova", sans-serif;
}

h1 {
  font-family: "Outfit", sans-serif;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #ebebeb;
}

/**********************HEADER***************************/
img {
  width: 100%;
  height: 100%;
}

.header-container {
  background-color: #fff159;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0.4%;
}
.nav-logo-img {
  min-width: 134px;
  min-height: 34px;
}
.nav-search {
  max-width: 600px;
  min-width: 400px;

  padding: 0 10px;
  width: 100%;
}
.nav-search input {
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 14px;
}

.nav-banner-img {
  padding: 0 10px;
  max-width: 340px;
  max-height: 39px;
}
/**********************HEADER 2***************************/
.nav-bot-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0.4%;
}

.nav-bot-send {
  min-width: 134px;
  min-height: 34px;
}

.nav-bot-send span {
  padding: 1px;
  display: block;
}
.nav-bot-send {
  display: block;
  text-decoration: none;
  text-align: start;
  font-size: 14px;
  color: #333333;
}

.nav-bot-item {
  max-width: 600px;
  min-width: 400px;
  padding: 0 10px;
  width: 100%;
  margin-right: 50px;
  margin-top: 20px;
}
.nav-bot-item a {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
  padding-right: 20px;
  text-decoration: none;
  padding-right: 36px;
}

.nav-bot-menu {
  max-width: 340px;
  max-height: 39px;
}
.nav-bot-menu a {
  color: #333;
  text-decoration: none;
  padding-right: 10px;
  font-size: 14px;
}
.boton-carrito {
  width: 20px;
  height: 20px;
}
.nav-bot-menu-carrito {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
/*****************************SLIDER ************************/
.slider-conteiner {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.slider-arrow-left,
.slider-arrow-right {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: grey;
  transform: translateY(-50%);
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
.slider-arrow-left {
  left: 0px;
}
.slider-arrow-right {
  right: 0px;
}
.slider-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}
/*****************************PAYMENT METHODS************************/
.payment-methods {
  margin: 0 5%;
}
.payment-methods-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.payment-methods-title-container {
  margin: auto 0px;
}
.payment-methods-item {
  text-align: center;
  background-color: #fff;
  margin: 40px 0px;
}

.payment-methods-item {
  display: flex;
  padding: 5%;
}
.payment-methods-svg {
  margin: auto 0;
  margin-right: 5%;
}
.payment-methods-title,
.payment-methods-subtitle {
  text-align: start;
  margin: 0px 0;
  font-weight: 100;
  font-size: 17px;
  font-weight: lighter;
}

.payment-methods-subtitle a {
  font-size: 14px;
  text-decoration: none;
  color: #3483fa;
}
/*****************************SUBSCRIPTION************************/

.subscription-container {
  display: flex;
  flex-direction: column;
  margin: 10% 5%;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.subscription-title {
  background: linear-gradient(90deg, #a90f90 55%, #0c1a51);
  color: #fff;
  height: 90px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.subscription-title h3 {
  margin: 2.5% 3%;
  font-size: 26px;
  font-weight: 600;
}
.subscription-benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.subscription-benefits span {
  grid-column: 1 / span 5;
  font-size: 18px;
  line-height: 18px;
  margin: 2.5% 3%;
}
.subscription-benefits-items {
  margin: 2.5% 8%;
}
.subscription-benefits-items {
  display: flex;
  flex-direction: row;
}
.subscription-benefits-items svg {
  border-radius: 50px;
}
.subscription-img {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50px;
}

/**********************MODAL***************************/
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 1s all ease-in-out;
}
.modal-visible {
  opacity: 1;
  visibility: visible;
}
.modal-main {
  background-color: #fff;
  width: 800px;
  border-radius: 20px;
  height: 400px;
  position: relative;
}

/* From uiverse.io by @satyamchaudharydev */
.button-modal {
  --bg: #e74c3c;
  --text-color: #fff;
  position: absolute;
  width: 30px;
  height: 27px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 8.5px;
  font-weight: bold;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 0px 0px, #000 0px 0px 0px;
  top: 10px;
  right: 10px;
}

.button-modal:hover {
  opacity: 1;
}

.button-modal:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}
.producto-carrito {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
/* From uiverse.io */
button {
  width: 150px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

button,
button span {
  transition: 200ms;
}

button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button svg {
  width: 12px;
  fill: #eee;
}

button:hover {
  background: #ff3636;
}

button:hover .text {
  color: transparent;
}

button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

button:focus {
  outline: none;
}

button:active .icon svg {
  transform: scale(0.8);
}

/*****************************QUERY************************/

@media screen and (max-width: 1095px) {
  /**********************HEADER***************************/
}
