* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #ebebeb;
}

/**********************HEADER***************************/
img {
  width: 100%;
  height: 100%;
}

.header-container {
  background-color: #fff159;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0.4%;
}
.nav-logo-img {
  min-width: 134px;
  min-height: 34px;
}
.nav-search {
  max-width: 600px;
  min-width: 400px;

  padding: 0 10px;
  width: 100%;
}
.nav-search input {
  width: 100%;
  height: 40px;
  padding: 5px;
}

.nav-banner-img {
  padding: 0 10px;
  max-width: 340px;
  max-height: 39px;
}
/**********************HEADER 2***************************/
.nav-bot-container {
  display: flex;
  justify-content: space-evenly;
  padding: 0.4%;
}

.nav-bot-send {
  min-width: 134px;
  min-height: 34px;
}

.nav-bot-send span {
  padding: 1px;
  display: block;
}
.nav-bot-send {
  display: block;
  text-decoration: none;
  text-align: start;
}
.nav-bot-item {
  max-width: 600px;
  min-width: 400px;
  padding: 0 10px;
  width: 100%;
  margin-right: 50px;
  margin-top: 20px;
}
.nav-bot-item a {
  color: rgba(51, 51, 51, 0.6);
  font-size: 17px;
  padding-right: 20px;
  text-decoration: none;
  padding-right: 36px;
}

.nav-bot-menu {
  padding: 0 10px;
  max-width: 340px;
  max-height: 39px;
  margin-top: 20px;
}
.nav-bot-menu a {
  color: #333;
  text-decoration: none;
  padding-right: 10px;
}
/*****************************SLIDER ************************/
.slider-conteiner {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.slider-arrow-left,
.slider-arrow-right {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: grey;
  transform: translateY(-50%);
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}
.slider-arrow-left {
  left: 0px;
}
.slider-arrow-right {
  right: 0px;
}
.slider-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}
/*****************************PAYMENT METHODS************************/
.payment-methods {
  margin: 0 5%;
}
.payment-methods-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.payment-methods-item {
  text-align: center;
  background-color: #fff;
  margin: 30px 0;
}

.payment-methods-item {
  display: flex;
  padding: 5%;
}
.payment-methods-svg {
  margin: auto 0;
  margin-right: 5%;
}
.payment-methods-title,
.payment-methods-subtitle {
  text-align: start;
  margin: 10px 0;
}
/*****************************SUBSCRIPTION************************/

.subscription-container {
  display: flex;
  flex-direction: column;
  margin: 10% 5%;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.subscription-title {
  background: linear-gradient(90deg, #a90f90 55%, #0c1a51);
  color: #fff;
  height: 90px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.subscription-title h3 {
  margin: 2.5% 3%;
  font-size: 26px;
  font-weight: 600;
}
.subscription-benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.subscription-benefits span {
  grid-column: 1 / span 5;
  font-size: 18px;
  line-height: 18px;
  margin: 2.5% 3%;
}
.subscription-benefits-items {
  margin: 2.5% 8%;
}
.subscription-benefits-items {
  display: flex;
  flex-direction: row;
}
.subscription-benefits-items svg {
  border-radius: 50px;
}
.subscription-img {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50px;
}
/*****************************QUERY************************/

@media screen and (max-width: 1095px) {
  /**********************HEADER***************************/
}
